@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", sans-serif;
  
  --color-primary: #880000;
  --color-yellow: #D4AF37;
  --color-stroke: #E2E8F0;
  --color-gray: #64748B;
  --color-darker-gray: #475569;
  
}